{% extends 'StingerSoftGaugePresentationBundle::layout.html.twig' %}
{% block title %}My presentations{% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="page-header">{{ block('title') }}</h1>
		<table class="table">
			<thead>
				<th class="presentation_name">Presentation name</th>
				<th class="last_updated">Last updated</th>
				<th class="questions"># of questions</th>
				<th class="respondents">Respondents</th>
				<th class="actions"></th>
			</thead>
			<tbody>
				{% for presentation in presentations %}
					<td class="presentation_name">
						{{ presentation.title }}
					</td>
					<td class="last_updated">
						{{ presentation.updatedAt|localizeddate('medium', 'none') }}
					</td>
					<td class="questions">1</td>
					<td class="respondents">12</td>
					<td class="actions">
						<a href="" class="btn red">
							<i class="fa fa-fw fa-play-circle"></i>
						</a>
						<i class="fa fa-fw fa-download"></i>
						<i class="fa fa-fw fa-files-o"></i>
						<i class="fa fa-fw fa-trash-o"></i>
					</td>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock body %}
